*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 1850px;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000; 
}
/* wrapper */

.wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
}

/* header */
.header{
    display: flex;
    height: 7.2%;
    background-color:black;
    opacity: 80%;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header__row{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 35%;
}
.header__menu{
    display: flex;
    width: 100%;
}
/* nav */
.nav{
    width: 100%;
}
.header__row_links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headerlink{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.headerlink:hover{
    color: rgb(182, 182, 182);
    transition: 0.5s;
}
/* выпадающий список */
.dropbtn{
    color: white;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    li {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    li.dropdown {
    display: inline-block;
    }
    
    .dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 15px 15px;

    }
    .dropdown_content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .dropdown_content a:hover { 
    text-decoration: underline;
    font-size: 15px;
    
    }
    .dropdown:hover .dropdown_content {
    display: block;
    background-color: #554f3e;
    }
    .nav__link2{

    color: white;
     font-size: 13px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     font-family: 'PT Sans', sans-serif;
     }


        /* contentmain  */
.contentmain{
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: column;
}
.content1{
    position: relative;
    width: 100%;
    height: 52%;
    margin-bottom: 50px;
}
.content2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:48%;
}
.verticaltext{
    position: absolute;
    top: 410px;
    left: -200px;
    transform: rotate(90deg);
    z-index: 6;
    padding: 0px 0px 0px 100px;   
}
/* текст */
.verticaltext:before{
    content: '';
	position: absolute;
    left: -80px;
    top:15px;
	width:150px;
	bottom: 0;
	height: 3px;
	background-color: rgb(255, 255, 255);

}
.text_vertical{
    color: white;
    z-index: 6;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
}
.photo{
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/we.png);
    background-size: 76% 80%; 
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 5;
    box-shadow: inset 0px 0px 40px 40px #000000;
}
.rectangles{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/Rectangles.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    z-index: 5;
}
.fog{
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/fog.png);
    z-index: 4;
}
/* content2 */

.content2_row1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-bottom: rgb(241, 241, 241) 1px solid;
}
.content2_row2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

}
.content2_row1_col1{
    position: relative;
    width: 100%;
    height: 50%;
    border-right: rgb(241, 241, 241) 1px solid;
    border-left: rgb(241, 241, 241) 1px solid;
    border-bottom: rgb(241, 241, 241) 1px solid;
}
.dark{
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 63, 53, 0.8);
    opacity: 0;
}
.dark:hover{
    opacity: 0.5;
}
.content2_row1_col2{
    position: relative;
    width: 100%;
    height: 50%;
  
   
}
.content2_row2_col1{
    position: relative;
    width: 100%;
    height: 50%;
    border-right: rgb(241, 241, 241) 1px solid;
    border-left: rgb(241, 241, 241) 1px solid;
    border-bottom: rgb(241, 241, 241) 1px solid;

}
.content2_row2_col2{
    position: relative;
    width: 100%;
    height: 50%;
    border: rgb(241, 241, 241) 1px solid;
}
.sila_text {
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;

    font-size: 45px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
        
}
.content2_row1_col1:hover .sila_text{
    font-size: 40px;
	transform: translate3d(20%, -90%, 0px);
    transition: 0.3s;
}
.sila_fog {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: center;
    z-index: 5;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/fog.png);
    background-size: 90% 90%;
}
.sila_foto{
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: right;
    height: 100%;
    width: 100%;
     z-index: 6;
    background-image: url(../img/силовые\ 2.png);
    background-size: 50% 98%;
    right: 5%;
    box-shadow: inset 0px 0px 40px 40px #000000;
}
.sila_text_scrt {
    position: absolute;
    color: white;
  
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    width: 40%;
    top: 40%;
    left: 5%;
    line-height: 1.5;
    opacity: 0;
    line-height: 1.2;
}
.content2_row1_col1:hover .sila_text_scrt{
	opacity: 1;
    transition: 2s;  
}
/* content2_row1_col2 */

.joga_foto {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: right;
    height: 100%;
    width: 100%;
     z-index: 6;
    background-image: url(../img/йога2.png);
    background-size: 50% 90%;
    right: 5%;
}
.joga_text {
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;
 
    font-size: 45px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
}
.content2_row1_col2:hover .joga_text{
    font-size: 40px;
	transform: translate3d(20%, -90%, 0px);
    transition: 0.3s;
}
.joga_fog {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: center;
    z-index: 5;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/fog.png);
    background-size: 90% 90%;
}

.joga_text_scrt {
    position: absolute;
    color: white;

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    width: 40%;
    top: 40%;
    left: 5%;
    line-height: 1.5;
    opacity: 0;
    line-height: 1.2;

}
.content2_row1_col2:hover .joga_text_scrt{
	opacity: 1;
    transition: 2s; 
}
/* content2_row2_col1 */

.step_foto {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: right;
    height: 100%;
    width: 100%;
     z-index: 6;
    background-image: url(../img/степ2.png);
    background-size: 53% 99%;
    box-shadow: inset 0px 0px 40px 40px #000000;
}
.step_text {
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;

    font-size: 45px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
        
}
.content2_row2_col1:hover .step_text{
    font-size: 40px;
	transform: translate3d(20%, -90%, 0px);
    transition: 0.3s;
}
.step_fog {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: center;
    z-index: 5;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/fog.png);
    background-size: 90% 90%;
}

.step_text_scrt {
    position: absolute;
    color: white;

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    width: 40%;
    top: 40%;
    left: 5%;
    line-height: 1.5;
    opacity: 0;
    line-height: 1.2;
}
.content2_row2_col1:hover .step_text_scrt{

	opacity: 1;
    transition: 2s; 
}
/* content2_row2_col2 */

.marafon_foto {
    position: absolute;
    background-repeat: no-repeat; ; 
    background-position: right;
    height: 100%;
    width: 100%;
    z-index: 6;
    background-image: url(../img/кубок.png);
    background-size: 57% 110%;
}
.marafon_text {
    position: absolute;
    top: 120px;
    left: 50px;
    color: white;

    font-size: 45px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
        
}
.content2_row2_col2:hover .marafon_text{
    font-size: 40px;
	transform: translate3d(20%, -90%, 0px);
    transition: 0.3s;
}
.marafon_fog {
    background-repeat: no-repeat; ; 
    background-position: center;
    z-index: 5;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/fog.png);
    background-size: 90% 90%;
}

.marafon_text_scrt {
    position: absolute;
    color: white;

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    width: 40%;
    top: 40%;
    left: 5%;
    line-height: 1.5;
    opacity: 0;
    line-height: 1.2;

}
.content2_row2_col2:hover .marafon_text_scrt{
	opacity: 1;
    transition: 2s;
    
}
/* footer */
.footer{
    width: 100%;
    height: 23%;
    background: #000;
    border-top: 2px rgb(223, 223, 223) solid;
    flex-direction: column;
    display: flex;
}
/* contacts */
.contacts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 91.401%;
    border-bottom: 2px solid #fff;
 
}
/* контакты */
.contact {
    height: 100%;
    width: 37.139%;
    flex-direction: column;
    display: flex;
}
.tel {
    position: relative;
    width: 100%;
    height: 64.4%;
    display: flex;

}
.tel_text {
    position: absolute;
    color: white;
    z-index: 7;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    top:120px;
    left: 195px; 
}
.tel1 {
    position: absolute;
    top:155px;
    left: 215px;
    color: #848484;
    z-index: 7;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
.tel2 {
    position: absolute;
    top: 185px;
    left: 215px;
    color: #848484;
    z-index: 7;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
.mail {
    position: relative;
    width: 100%;
    height: 35.6%;
    display: flex;
}
.mail_text {
    position: absolute;
    color: white;
    z-index: 7;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    top:5px;
    left: 195px;
}
.mail_contact {
    position: absolute;
    top:45px;
    left: 215px;
    color: #848484;
    z-index: 7;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
/* центр */
.center {
    flex-direction: column;
    display: flex;
    height: 100%;
    width:25.720%;
    
}
.center_text {
    width: 100%;
    height: 42.821%;
    position: relative;
    display: flex;
}
.text_center{
    position: absolute;
    color: white;
    z-index: 7;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    top:20%;
    left: 30%;
   
}
.center_img {
    width: 100%;
    height: 57.179%;
    position: relative;
    display: flex;
}
.giryaimg{
    width: 100%;
    height: 30%;
    background-image: url(../img/гиря.png);
    background-repeat: no-repeat;
    background-size:180px 130px;
    background-position: center;
}
.center_startech {
    margin-top: 20px;
    position: absolute;
    color: white;
    z-index: 7;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.2;
    top:30%;
    left: 23%;
    font-weight: 550;
    font-family: 'Roboto Condensed', sans-serif;
}
.center_startech:hover:after{
    content: '';
	position: absolute;
	width: 215px;
	bottom: 0;
	height: 1px;
	left: 13%;
	background-color: rgb(255, 255, 255);
	margin: 0px 0px 0px -25px;
}
  
/* соц.сети */
.right{
    position: relative;
    height: 100%;
    width: 37.139%;
    color: #848484;
    z-index: 7;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
    
    }
    .seti{
    position: absolute;
    top: 41%;
    left: 25%;
    }
    .r__texst{
    font-size: 20px;   
    color: rgb(116, 114, 114); 
    display: flex;
    align-items: center;
    padding-left: 10px;
    }
    .r__texst:hover{
    top: -1px; 
    color: rgb(255, 255, 255); 
  }
    
    .s__texst{
    position: absolute;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    padding-left:45px;
    padding-top:3px;
    opacity: 0;
    }
    .insta:hover .s__texst{
        opacity: 1;
    }
    

    .insta{
        display: flex;
        width: 100%;
        padding-bottom: 10px;
    }
    .vk:hover .s__texst{
        opacity: 1;
    }

    .vk{
        display: flex;
        width: 100%;
        padding-bottom: 10px;
    }
    .facebook:hover .s__texst{
        opacity: 1;
    }

    .facebook{
        display: flex;
        width: 100%;
    }

.r_inst_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/inst.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s_inst_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/instwhite.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    margin: -2.5px 0px 0px 1.5px;
}
.insta:hover .s_inst_img{
    opacity: 1;
}
.r__vk_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/vk3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s_vk_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/vkwhite.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    margin: -2.5px 0px 0px 1.5px;
}
.vk:hover .s_vk_img{
    opacity: 1;
}
.r__face_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s_face_img{
    width: 35px;
    height: 35px;
    background-image: url(../img/facebookwhite.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    margin: -2.5px 0px 0px 1.5px;
}
.facebook:hover .s_face_img{

    opacity: 1;
}

/* bottom  */
.bottom {

    width: 100%;
    height: 8.599%;
    position: relative;
    flex-direction: row;
}
.bottom_text{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    left: 44%; 
    margin-top: 10px;
}

.startech {
    color: #848484;
    z-index: 7;
    font-size: px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
.startech2{
    color: #ffffff;
    z-index: 7;
    font-size: px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
      margin-right: 10px;
}
@media (max-width: 1199px){
    .wrapper{
        min-width: 960px;
    }
    .photo{
        background-size: 88% 80%; 
    }
    .giryaimg{
        background-size:180px 130px;
        background-position: 82px -30px;
    }
    .tel_text {
        top:120px;
        left: 120px; 
    }
    .tel1 {
        top:155px;
        left: 140px;
    }
    .tel2 {
        top: 185px;
        left: 140px;
    }
    .mail_text {
        top:5px;
        left: 120px;
    }
    .mail_contact {
        top:45px;
        left: 140px;
    }
    .verticaltext:before{
        left: -10px;
        width:75px;
    }
    .text_vertical{
        font-size: 26px;
    }
}
@media (max-width: 991px){
    .photo{
        background-size: 100% 78%;
        background-position: 30px 130px;
    }
    .rectangles{
        background-size: 100% 55%;
        z-index: 5;
    }
    .header__row{
        width: 70%;
        margin-left: 25%;
    }
    .header{
        height:6%;
    }
    li a, .dropbtn {
        padding: 7px 16px;
        font-size: 13px;
    }
    .headerlink{
        font-size: 13px;
    }
    .giryaimg{
        background-size:180px 130px;
        background-position: 70px -30px;
    }
    .sila_text {
        font-size: 30px;
    }
    .joga_text {
        font-size: 30px;
    }
    .step_text {
        font-size: 30px;
    }
    .marafon_text {
        font-size: 30px;
    }
    .sila_foto{
        background-position: right;
        background-size: 60% 98%;
    }
    .joga_foto {
        background-position: right;
        background-size: 60% 90%;
        left: 3%;
    }
    .step_foto {
        background-position: right;
        background-size: 63% 99%;
        left: 5%;
    }
    .marafon_foto {
        background-position: right;
        background-size: 72% 110%;
        left: 5%;
    }
    .text_vertical{
      
        font-size: 20px;
    }
    .verticaltext{
          left: -16%;
          top: 35%;
        
    }
}

@media (max-width: 767px){
    .tel_text {
        top:120px;
        left: 70px; 
    }
    .tel1 {
        top:155px;
        left: 90px;
    }
    .tel2 {
        top: 185px;
        left: 90px;
    }
    .mail_text {
        top:5px;
        left: 70px;
    }
    .mail_contact {
        top:45px;
        left: 90px;
    }
    .photo{
        background-size: 105% 78%;
        background-position: 20px 170px;
    }
    .rectangles{
        background-size: 100% 60%;
        z-index: 5;
    }
    .header{
        height:5%;
    }
}

@media (max-width: 575px){ }